<div class="container-fluid navigation">
  <div class="overlay">
  </div>
  <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" mat-button routerLink="/" routerLinkActive="mat-accent">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" mat-button routerLink="/create" routerLinkActive="mat-accent">New Club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" mat-button routerLink="/all-clubs" routerLinkActive="mat-accent">All Clubs</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" mat-button routerLink="/#" routerLinkActive="mat-accent">All Events</a>
        </li>
      <!--
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      -->
    </ul>
  </div>
</nav>
</div>
