<div class="background_landing">
</div>
<div class="row justify-content-center">
    <div class="brand col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center animated jackInTheBox delay-1s">
      Celebrino
    </div>
</div>
<hr>
<div class="container eventHead">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center display-2">
      Current Events
    </div>
  </div>
</div>
<div class="container event">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-5 col-sm-0 col-xs-0">
      <div class="coding">
      </div>
    </div>
    <div class="col-md-7 col-sm-12 col-lg-7 col-xs-12">
      <div class="title display-3">
        <a routerLink="/" style="color: black;
        text-decoration: none;"> Coding Competition</a>
        <hr class="title_underline">
      </div>
    </div>
  </div>
</div>

<br>
<hr>
<br>
  <footer id="myFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>Get started</h5>
          <ul>
                          <li><a routerLink="/">Home</a></li>
                          <li><a routerLink="/all-clubs">All Clubs</a></li>
                          <li><a routerLink="/">All Events</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <h5>About us</h5>
                      <ul>
                        <li><a href="www.iitdh.ac.in">College Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <h5>Support</h5>
                      <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 info">
                      <h5>Information</h5>
                      <p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                  </div>
          </div>
          <div class="container-fluid footer_end">
            <div class="row justify-content-center">
              <i class="fab fa-facebook-f" style="margin-right: 10px;"></i>
              <i class="fab fa-instagram" style="margin-right: 10px;margin-left: 10px; color: orchid"></i>
              <i class="fab fa-twitter" style="margin-right: 10px;margin-left: 10px; color: royalblue"></i>
              <i class="fab fa-reddit" style="margin-right: 10px;margin-left: 10px; color:orangered;"></i>
            </div>
            <div class="row justify-content-center" style="margin-top: 20px;">
              Copyright @2019 All rights reserved
            </div>
          </div>
        </footer>
